<!DOCTYPE html>
<html lang = "en">

<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <meta http-equiv = "X-UA-Compatible" content = "ie=edge">
    <meta name = "Description" content = "Enter your description here"/>
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="../static/main.js" defer></script>
    <link rel = "stylesheet" href = "../static/main.css">
    <title> Search </title>
</head>

<body>

    <h1> Welcome to the PokeAPI Integration Website! </h1>

    <nav class = "navbar navbar-expand-lg navbar-dark bg-dark">

        <div class = "container-fluid ">

                <ul class = "navbar-nav me-auto ms-4 mb-2 mb-lg-0 link-light align-items-center">

                    <li class = "nav-item">
                        <a class = "nav-link link-light" aria-current = "page" href = "home.html"> <h3> Home </h3> </a>
                    </li>

                    <li class = "nav-item ms-4">
                        <a class = "nav-link link-light" href = "search.html"> Search </a>
                    </li>

                </ul>

            </div>

        </div>

    </nav>

    <div class = "container-fluid">

        <div class = "col-md-4">

            <div class = "card mt-5 bg-dark p-3 h-60" style = "width: 300px;">

                <div class = "card-body bg-dark">

                    <p class = "card-text text-light"> Use the text box below to search for any Pokémon!</p>

                </div>

            </div>

            <div class = "search">

                <form class = "pokemon-form" action = "POST" onsubmit = "fetchData(event)">
                    <input type = "text" name = "pokemon" placeholder = "Search for a Pokémon" required>
                    <button type = "submit"> Search </button>
                </form>

            </div>

        </div>

    </div>

</body>

</html>